*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
}


.select_div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.select_main {
  padding: 10px;
  font-size: 16px;
  border: 2px solid green;
  border-radius: 5px;
  background-color: white;
  color: red;
  cursor: pointer;
 
}


.title_main{
  text-align: center;
  color: aquamarine;
  margin-bottom: 20px;
}

li{
  color: red;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

